In [1]:
import pandas as pd

In [2]:
kospi_real = pd.read_csv('../data/코스피실제주가_1112_1119.csv')
kospi_estimate = pd.read_csv('../data/코스피_forecast_results_all.csv')
kosdaq_real = pd.read_csv('../data/코스닥실제주가_1112_1119.csv')
kosdaq_estimate = pd.read_csv('../data/코스닥_forecast_results_all.csv')

In [3]:
# YYYY-MM-DD 형식으로 변환
kospi_real['Date'] = pd.to_datetime(kospi_real['Date']).dt.strftime('%Y-%m-%d')
kosdaq_real['Date'] = pd.to_datetime(kosdaq_real['Date']).dt.strftime('%Y-%m-%d')

In [4]:
# 행렬 전환
kospi_real_T = pd.DataFrame(kospi_real.T.reset_index().iloc[1:].values, columns=kospi_real.T.reset_index().iloc[0].values)
kospi_estimate_T = pd.DataFrame(kospi_estimate.T.reset_index().iloc[1:].values, columns=kospi_estimate.T.reset_index().iloc[0].values)
kosdaq_real_T = pd.DataFrame(kosdaq_real.T.reset_index().iloc[1:].values, columns=kosdaq_real.T.reset_index().iloc[0].values)
kosdaq_estimate_T = pd.DataFrame(kosdaq_estimate.T.reset_index().iloc[1:].values, columns=kosdaq_estimate.T.reset_index().iloc[0].values)

In [5]:
# 'Date' 컬럼 이름을 'Ticker'로 변경
kospi_real_T.columns = ['Ticker'] + list(kospi_real_T.columns[1:])
kospi_estimate_T.columns = ['Ticker'] + list(kospi_estimate_T.columns[1:])
kosdaq_real_T.columns = ['Ticker'] + list(kosdaq_real_T.columns[1:])
kosdaq_estimate_T.columns = ['Ticker'] + list(kosdaq_estimate_T.columns[1:])

In [6]:
# 'Ticker' 기준으로 오름차순 정렬
kospi_estimate_T = kospi_estimate_T.sort_values(by='Ticker', ascending=True).reset_index(drop=True)
kosdaq_estimate_T = kosdaq_estimate_T.sort_values(by='Ticker', ascending=True).reset_index(drop=True)

In [7]:
kospi_estimate_T.iloc[:, 23:-1]

   2024-11-12 2024-11-13 2024-11-14 2024-11-15 2024-11-18
0   10059.983  10002.199   9947.878   9896.814   9848.813
1   1156.9231  1156.7365  1156.5565  1156.3832  1156.2164
2   17299.877   17345.59  17388.799  17429.625   17468.18
3    638.9527  636.86163  634.79785   632.7611   630.7515
4   1105.1606  1101.3458  1097.8014   1094.509   1091.451
5   1403.5991   1407.366  1410.9974  1414.4967    1417.87
6   1526.8179  1527.7505  1528.6625  1529.5542  1530.4259
7   26964.734  26979.857   26994.45   27008.52  27022.043
8    9135.715   9165.078   9193.222   9220.191   9246.025
9   4597.5566  4597.8584   4598.145   4598.416  4598.6714
10  1012.4092  1015.0479  1017.5683  1019.9755  1022.2744
11  3865.8467  3865.0366   3864.257   3863.507  3862.7852
12  13264.186   13257.59  13251.306  13245.319   13239.62
13  15597.013  15624.376  15650.576  15675.664  15699.686
14   1839.128  1841.7439  1844.2538  1846.6616  1848.9719
15   66586.39   66551.45   66519.99    66491.7   66466.29
16  3948.4563  3957.0308  3965.0142  3972.4324  3979.3098

In [8]:
kospi_real_T.to_csv('../data/코스피실제주가_241112_241119.csv', index=False)
kospi_estimate_T.to_csv('../data/코스피예측주가_241112_241119.csv', index=False)
kosdaq_real_T.to_csv('../data/코스닥실제주가_241112_241119.csv', index=False)
kosdaq_estimate_T.to_csv('../data/코스닥예측주가_241112_241119.csv', index=False)